@page
@model BugTrackerApi.Pages.IndexModel

<div class="container">

    <h1 class="title mt-3">Projects</h1>
    <h5 class="subtitle">There are @Model.AllProjects?.Count() projects in the database.</h5>

    <table class="table is-fullwidth is-striped">
        <tbody>
            @foreach (var project in Model.AllProjects)
            {
                <tr>
                    <td>
                        <a href="/projects/@project.Id">@project.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ol>
        
    </ol>
</div>