@page
@model IndexModel
@section ActionButtons
{
    <a class="button is-primary" href="/AddProject">Add project</a>
}


<div class="container">
    <h1 class="title mt-3">Projects</h1>

    <h5 class="subtitle">There are @Model.AllProjects?.Count() projects in the database.</h5>

    <table class="table is-fullwidth is-striped">
        <tbody>
            @foreach (var project in Model.AllProjects)
            {
                <tr>
                    <td>
                        <a href="/projects/@project.Id">@project.Name</a>
                    </td>
                    <td style="width:100px">
                        <form method="POST">
                            <!--pretend like delete http method-->
                            <input type="submit" class="button is-small" asp-page-handler="Delete" value="Delete" asp-route-id="@project.Id" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <p><a href="/swagger">Click here</a> to see the Swagger documentation.</p>
</div>