<!DOCTYPE html>

<html>
<head> <!--put here any css and JS libraries you want to use-->
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body> <!--This page is a container for all other razor pages. if you wanna share something to every razor page, you can add here-->
    <div>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item is-size-6 is-uppercase has-text-weight-bold" href="/">
                        BugTracker
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/">
                            Projects
                        </a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <!--A layout can optionally reference one or more sections by calling RenderSection(See atsecion in Index.cshtml)-->
                                @RenderSection("ActionButtons", false)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
        @RenderBody()
    </div>
</body>
</html>
