<!DOCTYPE html>

<html>
<head> <!--put here any css and JS libraries you want to use-->
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body> <!--This page is a container for all other razor pages. if you wanna share something to every razor page, you can add here-->
    <div>
        @RenderBody()
    </div>
</body>
</html>
